<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">

  <meta name='viewport'
  content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <link rel='stylesheet' type='text/css' href='/<%= manifest["app.css"] %>'>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand" href='#'>18xx Online: <%= title %></span>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
        <% if (session.passport) { %>
          <%= session.passport.user.displayName %>
        <% } else { %>
          <a class="btn btn-outline-success" href="/login">
            Login / Register
          </a>
        <% } %>
      </span>
    </div>
  </nav>

  <div class="container-fluid">
    <div id='map-container'
      data-game-name='<%= game %>'
      data-initial-state-id='<%= initialState %>'>
    </div>
  </div>

  <script src="/<%= manifest['vendor.js'] %>"></script>
  <script src="/<%= manifest['app.js'] %>"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
</body>
</html>

